.navbar-brand {
  padding-bottom: 0px;
}

.navbar-brand span {
  display:block; 
  font-style: italic; 
  font-weight:normal; 
  font-size:0.5em;
  line-height: 1em;
}

.control-label.nopadding {
  padding-top: 0;
}

a.disabled {
  text-decoration: none;
  color: black;
}

.panel-title span {
  font-size: 0.7em;
  font-style: italic;
}

/* Search */
.search {
  margin-bottom: 10px;
}

/* Details page */
.details-title h3{
  line-height: 33px;
}

.project-details .col-sm-10 {
  font-weight: bold;
  font-size: 1.1em;
}

/* Calendar */
.calendar {
  overflow: hidden;
  border-bottom: 1px solid #D9EDF7;
  background-color: #D9EDF7;
}

.calendar:last-child {
  border-bottom: 0px solid black;
}

/* Calendar Cell */
.calendar > div {
  border: 1px solid #DDD;
  border-width: 0 1px 1px 0;
  float: left;
  display: block;
  width: 51.7px;
  height: 50px;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 24px;
  background-color: white;
}

/* Month */
.calendar > div:first-child {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 50px;
}

/* Total */
.calendar > div:last-child {
  float: right;
  background-color: #DFF0D8;
}
.calendar > div:last-child  span{
  text-decoration: underline;  
}

/* Date */
.calendar > div > span{
  display: block;
  border-bottom: 1px solid #DDD;
  font-weight: bold;
}

.table.forceborders  td{
  border-top: 1px solid #DDD !important;
}


/*.month! */
.monthHeader {
  border-bottom: 3px solid #DDD;
  border-top: 3px solid #DDD;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* formats the first month heading */
.monthHeader:nth-child(2) {
  border-top: 0px solid black;
}

.month {
  overflow: hidden;
}

.month > span {
  float: left;
  border: 1px solid #DDD;
  border-width: 0 1px 1px 0;
  width: 3.2%;
  text-align: center;
}

/* Fills the 31th child (last one in the row) to 4% to 
   compensate for fractional sizing */
.month > span:nth-child(31n) {
  width: 4%;
  border-right-width: 0;
}

/* Change the font color of the first 31 elements
   because they are headers */
.month > span:nth-child(-n+31) {
  color: #9999AD;
}

/* total cell */
.month > span:last-child {
  border-width: 0;
  width: auto;
  float: right;
  padding-right: 15px;
}

.month > span:last-child > span{
  font-weight: bold;
  display: block;
  float: left;
  padding-right: 3px;
}

/* Clearable */
.clearable{
  background:url('../img/clearx.png') no-repeat right -10px center;
  border:1px solid #999;
  padding:3px 18px 3px 4px; /* USE the same right padding in jQ! */
  border-radius:3px;
  transition: background 0.4s;
}

.clearable.x{
  background-position: right 5px center;
}

.clearable.onX{
  cursor:pointer;
}




