// bower:scss
// endbower

///////////////
// Color Defs
$greyBorder: #DDDDDD;

///////////////
// Common
 body {
  padding-top: 70px;
}

.clear {
  line-height: 0;
  height: 0;
  display: block;
  clear: both;
  padding: 0;
  margin: 0;
}

.view-heading {
  h1, h2, h3, h4, h5 {
    margin-top: 0;
    line-height: 33px;
  }
}

.fat {
  padding-bottom: 20px;
}

///////////////
// Calendar
.calendar {

  h3 {
    //margin: 10px 0 5px;
    //padding: 0 5px 5px;
    margin: 0;
    padding: 5px;
    border: 1px solid $greyBorder;
    border-width: 0 0 2px 0;
  }

  .row-container {
    padding: 0 0px;
    border: 1px solid $greyBorder;
    border-width: 0 0 1px 0;
  }

  .day {
    width: 100/31 * 1%;
    float: left;
    text-align: center;

    border: 1px solid $greyBorder;
    border-width: 0 1px 0 0;
    padding: 0;
    margin: 0;

    &.header {
    color: #999;
    }

    &.last {
      border-width: 0;
    }
  }
}