<div class="row view-heading">
  <div class="col-sm-8"><h2>{{pageTitle}}</h2></div>
  <div class="col-sm-4 text-right"><h3>Total Hours: {{totalHours}}</h3></div>
</div>
<h4>Group by:</h4>
<div class="btn-group">
  <a type="button" class="btn btn-default" ui-sref-active="btn-success" ui-sref="view.details({view:view, id:id, groupBy: 'month'})">Month</a>
  <a type="button" class="btn btn-default" ui-sref-active="btn-success" ui-sref="view.details({view:view, id:id, groupBy: 'employee'})" ng-if="view === 'project'">Employee</a>
  <a type="button" class="btn btn-default" ui-sref-active="btn-success" ui-sref="view.details({view:view, id:id, groupBy: 'project'})" ng-if="view === 'employee'">Project</a>
</div>

<hr>

<div class="panel panel-info" ng-repeat="grouping in groupedData">

  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-10 panel-title">{{getGroupingTitle(grouping)}}</div>
      <div class="col-sm-2" style="text-align:right">{{groupBy|capitalize}}'s Total: {{getGroupingTotalHours(grouping)}}</div>
    </div>
  </div>

  <div ng-repeat="(title, sub) in grouping" class="calendar">
    <h3>{{formatSubTitle(title)}}</h3>

    <div class="row-container">
      <div class="day header" ng-class="{true: 'last'}[$last]" ng-repeat="date in daysInMonthRepeater(sub[0].month, sub[0].year) track by $index">
        {{$index + 1}}
      </div>
      <div class="clear"></div>
    </div>

    <div class="row-container">
      <div class="day" ng-class="{true: 'last'}[$last]" ng-repeat="date in daysInMonthRepeater(sub[0].month, sub[0].year) track by $index">
        {{getHours($index + 1, sub)}}
      </div>
      <div class="clear"></div>
    </div>

    <div class="row-container text-right">
      Total: {{getSubTotalHours(sub)}}
    </div>

  </div>



</div>